@import url("https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Almarai", sans-serif;
  font-style: normal;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

#header {
  background: #ffffff;
  color: black;
  padding: 4% 0;
  height: 100%;
}

.row {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center !important;
  flex-wrap: wrap;
}

.home-col-1 {
  padding: 9%;
  flex-basis: 42%;
}

.home-col-1 h3 {
  color: rgb(255, 49, 71);
  padding-top: 3%;
  font-size: 25px;
  font-weight: 400;
  text-transform: uppercase;
}

.home-col-1 h1 {
  font-size: 48px;
  font-weight: 700;
  letter-spacing: -1px;
  word-spacing: 8px;
  text-transform: uppercase;
  margin-top: 3.5%;
  line-height: 1.3;
}

.home-col-1 p {
  margin-top: 28px;
  font-size: 15px;
  word-spacing: 1.4px;
  line-height: 1.6;
  padding-right: 5%;
}

.buttons button {
  margin-top: 25px;
  padding: 2.5% 5.5%;
  background: rgb(255, 49, 71);
  color: #ffffff;
  border: 1px solid rgb(255, 49, 71);
  font-size: 10px;
  font-weight: 400;
  border-radius: 2px;
  letter-spacing: 1.4px;
}

.btn {
  display: block;

  text-transform: uppercase;
  text-decoration: none;
  /* border-radius: 0.5px; */
}

.home-col-2 {
  flex-basis: 34%;
}

.home-col-2 img {
  width: 92%;
  height: 100%;
  object-fit: contain;
  border-radius: 8px;
}

/* ----------------Service---------------- */

.service {
  height: 100%;
  background-color: rgb(250, 250, 250);
  color: black;
  padding: 4% 0;
  padding-left: 16.64%;
}

.part1 {
  padding-right: 19%;
}

.part2 {
  left: -3%;
}

.service-col-1 {
  flex-basis: 40%;
}

.service-col-1 h3 {
  text-transform: uppercase;
  color: rgb(255, 49, 71);
  font-size: 22px;
  font-weight: 400;
}

.service-col-1 h1 {
  text-transform: uppercase;
  margin-top: 5%;
  font-size: 39px;
  font-weight: 700;
  letter-spacing: -1px;
  word-spacing: 8px;
  line-height: 1.3;
}

.service-col-2 {
  flex-basis: 60%;
}

.work {
  padding-right: 0;
}

.service-col-2 p {
  margin-top: 64px;
  line-height: 1.6;
  font-size: 15px;
  word-spacing: 1.4px;
  padding-left: 11.5%;
}

.slider {
  margin-top: 3.2%;
  margin-left: 1.3%;
  border-radius: 8px;

  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 16px;
  scrollbar-width: none;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 16px;
  scroll-behavior: smooth;
  padding-right: 16px; /* Ensure the gap is added */
  scrollbar-width: none;
}

.slider::-webkit-scrollbar {
  display: none;
}

.card {
  border-radius: 8px;
  flex: 0 0 auto;
  scroll-snap-align: start;
  background: #fff;
  height: 490px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-right: 10px;
}

.card img {
  /* width: 100%; */
  /* height: 100%; */
  border-radius: 8px;
  object-fit: cover;
}

/* .card img {
  width: 57px;
} */

/* .slider .card h2 {
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 15px;
} */

.layer {
  width: 100%;
  height: 0;
  color: rgb(250, 250, 250);
  background: rgb(255, 49, 71);
  border-radius: 8px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 25px;
  text-align: center;
  font-size: 14px;
  transition: height 0.5s;
}

.layer h3 {
  text-transform: uppercase;
  font-weight: 400;
  margin-top: 36px;
  margin-bottom: 21px;
  letter-spacing: 0px;
  font-size: 24px;
}

.layer p {
  margin-bottom: 50px;
}

.layer a {
  color: rgb(255, 49, 71);
  background: #f4f4f4;
  font-weight: 700;
  border: 1px solid #f4f4f4;
}

.layer .arrow {
  width: 37px;
}

.card:hover .layer {
  height: 100%;
}

.dot-container {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 25px;
  padding-left: 2%;
}

.dot {
  width: 32px;
  height: 32px;
  background-color: black;
  border-radius: 50%;
  cursor: pointer;
}
.red-dot {
  background-color: red;
  background: url(Assets/icons/red-dot.svg);
  background-size: contain;
}

.black-dot {
  background-color: black;
  width: 8px;
  height: 8px;
}

/* ---------------slider------------------- */

.work {
  max-width: 1200px;
  width: 100%;
  position: relative;
}

.slider {
  grid-auto-columns: calc((100% / 4) - 16px);
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 15px;
  scroll-behavior: smooth;
  /* padding-right: 50px; */
  scrollbar-width: none;
}

.slider::-webkit-scrollbar {
  display: none;
}

.slider.no-transition {
  scroll-behavior: auto;
}

.slider.dragging {
  scroll-snap-type: none;
  scroll-behavior: auto;
}

.slider.dragging .card {
  cursor: grab;
  user-select: none;
}

.slider :where(.card, .img) {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*------------------------------------*/

.slider .card {
  scroll-snap-align: start;
  height: 100%;
  background: #fff;
  flex-direction: column;
  border-radius: 8px;
}

.slider .card .img {
  height: 490px;
  width: 300px;
  overflow: hidden;
  position: relative;
}

.card .img img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  object-fit: cover;
}

/*
/* -------------------form---------------------- */
/*
#showFormBtn {
  cursor: pointer;
}

#closeFormBtn {
  cursor: pointer;
  font-size: 20px;
  margin-left: 265px;
}

#contactFormContainer {
  display: none;
  position: fixed;
  width: 450px;
  height: 362px;
  top: 50%;
  left: 50%;
  border-radius: 5px;
  transform: translate(-50%, -50%) scale(0.8); /* Start with scale 0 */
/* border: 1px solid #ccc;
  padding: 31px 32px 25.5px 32px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  opacity: 0;
  transition: opacity 0.8s, transform 0.8s; /* Add transition for opacity and transform */
/*
}

#contactForm h2 {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 700;
}

.form-group {
  position: relative;
}

.form-group label {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 14px;
  color: #6f718f99;
  margin-top: 10px;
  transition: all 0.3s ease;
  pointer-events: none;
}

.form-group label.filled {
  top: -25px;
  font-size: 12px;
  /* color: #007bff; */
/*  z-index: 1;
}

.form-group input:focus + label {
  top: -25px;
  font-size: 12px;
  /* color: #007bff; */
/* z-index: 1;
}

#contactForm input[type="email"],
#contactForm input[type="text"] {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border: none;
  border-bottom: 1px solid #ccc;
}

.checkbox-container {
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.checkbox-container input[type="checkbox"] {
  margin-right: 10px;
  display: none;
}

.checkbox-container label::before {
  content: "";
  display: inline-block;
  width: 14px;
  height: 14px;
  border: 2px solid #ff3366;
  border-radius: 5px;
  margin-right: 10px;
  vertical-align: middle;
  background-color: white;
  cursor: pointer;
}

.checkbox-container input[type="checkbox"]:checked + label::before {
  background-color: #ff5b5b;
  border-color: #ff5b5b;
  content: "✓";
  color: white;
  text-align: center;
  line-height: 20px;
}

.checkbox-container label {
  font-size: 14px;
  color: #616678;
}

#contactForm button {
  margin-top: 20px;
  padding: 15px 141px;
  font-size: 18px;
  font-weight: 500;
  background-color: #ff3366;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#contactForm button:hover {
  background-color: #e6005c;
}

.no-scroll {
  overflow: hidden;
}

#firstName {
  flex-basis: 45%;
}

#lastName {
  flex-basis: 45%;
}


/* -------------------ABOUT----------------------- */
#about {
  background: #ffffff;
  color: black;
  padding: 100px 0;
}

.heading {
  text-align: center;
}

.about-col-1,
.about-col-2,
.about-col-3,
.about-col-4 {
  flex-basis: 25%;
}

.about-col-1 img {
  width: 72px;
  height: 83.72px;
}
.about-col-2 img {
  width: 70.01px;
  height: 81.87px;
}
.about-col-3 img {
  width: 68px;
  height: 79.9px;
}
.about-col-4 img {
  width: 69.73px;
  height: 78.72px;
}

.about-col h3 {
  margin-top: 20px;
  margin-bottom: 15px;
}

.project {
  text-align: center;
  padding: 100px 0;
}

.project-heading span {
  color: rgb(255, 49, 71);
  font-size: 24px;
  font-weight: 500;
}
.project-heading h1 {
  font-size: 45px;
  font-weight: 700;
  margin-top: 25px;
  margin-bottom: 60px;
}

.project-col-1 {
  flex-basis: 68%;
}

.project-col-1 img {
  width: 770px;
  height: 567px;
  border-radius: 8px;
}

.project-col-2 {
  flex-basis: 31%;
}

.about-photos {
  padding: 34px 35px 33px 30px;
  background: #adadad;
  border-radius: 1px;
  text-align: left;
  cursor: pointer;
}

.about-photos:hover {
  background: rgb(255, 49, 71);
  color: #ffffff;
  transition: 0.2s;
}

.about-photos h3 {
  font-size: 20px;
  font-weight: 600;
  padding-bottom: 15px;
}

.selected {
  background-color: rgb(255, 49, 71) !important;
  color: #ffffff !important;
}

/* ------------------------growth-numbers--------------------- */
#numbers {
  background: #f4f4f4;
  color: black;
  padding: 100px 0;
}

.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.numbers {
  flex-basis: calc(
    25% - 20px
  ); /* Each counter takes up 25% of the container width minus spacing */
  text-align: center;
  padding: 33px 31px;
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.2s;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.numbers:hover {
  box-shadow: 9px 13px 40px 3px rgba(0, 0, 0, 0.2);
}

.numbers img {
  width: 36.59px;
  margin-bottom: 10px;
}

.numbers h1 {
  font-size: 60px;
  font-weight: 300;
  margin: 0;
}

.numbers p {
  font-size: 20px;
  font-weight: 300;
  margin: 10px 0;
}

/* --------------------feedback----------------------- */

#feedback {
  background: #ffffff;
  color: black;
  padding: 100px 0;
}

.feed-parent {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(Assets/icons/Quotemarks-left.svg);
  background-repeat: no-repeat;
  background-size: 6%;
  background-position-x: 150px;
  background-position-y: 23px;
}

.feedbacks {
  flex-basis: 70%;
}
.feedbacks h3 {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 20px;
}
.feedbacks span {
  color: rgb(255, 49, 71);
  font-size: 20px;
  font-weight: 700;
}

.feedbacks span:nth-of-type(2) {
  color: #808080;
  font-size: 20px;
  font-weight: 300;
}

/* ---------------------footer------------------------ */

.footer {
  display: flex;
  justify-content: center;
  gap: 2%;
  background-color: #f12a3a;
  padding: 6% 15% !important;
  margin: 0 !important;
}

.footer li {
  width: 13%;
  min-width: 50px;
  display: grid;
  place-content: center;
}

.footer img {
  width: 100%;
}

/* -------------------Responsive---------------------- */

@media screen and (max-width: 1768px) {
  .container {
    padding: 0 170px;
  }
  .home-col-2 img {
    width: 100%;
  }
  #header {
    padding: 50px 0;
  }
  .work {
    margin: 0 auto;
  }
}
